- unless @people.length < 1
  %h2 Peeps
  %ul#people
    - @people.each do |@person|
      %li
        = link_to(@person.username, url(:person, @person))
- else
  %h2 Aw, I'm sorry!
  %p There's no one here.