a {
text-decoration: none;
color: #0099ff;
}

a:hover {
background-color: #0099ff;
color: #fff !important;
}

body {
padding: 0px;
margin: 50px 10px;
background-color: #333;
color: #ddd;
text-align: center;
font-family: verdana, arial, sans-serif;
font-size: 15px;
}

div#airlock {
clear: left;
max-width: 500px;
margin: auto;
text-align: left;
padding-top: 10px;
}

div#content {
clear: left;
padding: 25px;
background-color: #3a3a3a;
border: solid 1px #444;
font-size: 90%;
}

h1 {
float: left;
padding: 0;
margin: 0 20px 10px 0;
background-color: #000;
color: #fff;
text-align: center;
text-transform: uppercase;
font-size: 150%;
}

h2 {
font-size: 65%;
font-weight: normal;
}

h1 > a {
display: block;
padding: 10px;
margin: 0;
color: #fff;
}

h3 {
display: inline;
margin: 0;
color: #0099ff;
font-size: 100%;
font-weight: normal;
}

h3 > a {
font-weight: bold;
}

h3 + p {
display: inline;
}

p#footer {
clear: both;
padding: 10px 0;
color: #888;
font-size: 70%;
}

p#footer q {
float: right;
font-size: 90%;
}

p.summary {
padding: 8px 0;
margin: 0 0 20px 0;
color: #999;
font-size: 65%;
border-bottom: solid 1px #444;
}

ul#navigation {
list-style: none inside;
padding: 0;
margin: 0;
color: #555;
text-transform: uppercase;
font-size: 120%;
}

ul#navigation + p.summary {
margin-top: 5px;
}

ul#navigation li {
display: inline;
}

ul#navigation li a {
padding: 1px;
}

ul#navigation li[selected] a {
font-weight: bold;
color: #0099ff;
}

ul#navigation li:before {
content: "/ ";
}

ul#navigation li:first-child:before {
content:"";
}