a {
text-decoration: none;
color: #0099ff;
}

a:hover {
background-color: #0099ff !important;
color: #fff !important;
}

body {
padding: 0;
margin: 0 10px;
background-color: #333;
color: #ddd;
text-align: center;
font-family: verdana, arial, sans-serif;
font-size: 15px;
}

button {
padding: 2px 10px;
background-color: #555;
color: #fff;
border: solid 1px #666;
}

button:active {
background-color: #0099ff;
}

div#airlock {
clear: left;
max-width: 500px;
margin: auto;
text-align: left;
}

div#content {
clear: left;
padding: 25px;
background-color: #3a3a3a;
border: solid 1px #444;
font-size: 90%;
}

div#content ul, div#content ol {
padding: 5px 30px;
font-size: 85%;
}

div#content ul li, div#content ol li {
margin: 4px 0;
}

div#header {
background: url(/images/headers/1.png) #000 no-repeat;
padding-top: 200px;
border-right: solid 1px #444;
border-bottom: solid 1px #444;
border-left: solid 1px #444;
margin-bottom: 10px;
}

div.post {
clear: left;
padding-bottom: 10px;
margin-bottom: 10px;
border-bottom: solid 1px #444;
}

div.post.micro {
font-size: 75%;
}

div.post.micro div.contents {
margin-left: 19px;
display: inline;
}

div.post.micro p.categories {
display: inline;
font-size: 90%;
}

div.post.micro p.categories:after {
content: ")";
}

div.post.micro p.categories:before {
content: "(";
}

div.post.micro p.date {
padding: 3px 5px;
margin: 0;
}

div.post.micro p.date span.day,
div.post.micro p.date span.year {
font-size: 100%;
}

div.post div.contents {
margin-left: 65px;
}

form {
padding: 5px 0;
font-size: 80%;
}

form p.action {
text-align: right;
}

h1 {
float: left;
width: 150px;
padding: 0;
margin: 0;
background-color: #000;
color: #fff;
text-align: center;
text-transform: uppercase;
font-size: 100%;
border-top: solid 1px #333;
border-right: solid 1px #333;
opacity: 0.7;
}

h1 > a {
display: block;
padding: 10px;
margin: 0;
color: #fff;
}

h2 {
padding: 0 0 5px 0;
margin: 0 0 15px 0;
text-transform: uppercase;
font-size: 100%;
color: #888;
border-bottom: solid 1px #555;
}

h3 {
display: inline;
margin: 0;
color: #0099ff;
font-size: 100%;
font-weight: normal;
}

h3 > a {
font-weight: bold;
}

h3 + p {
display: inline;
}

label {
float: left;
width: 200px;
margin-right: 10px;
text-align: right;
color: #aaa;
}

p#footer {
clear: both;
padding: 10px 0;
color: #888;
font-size: 70%;
}

p.date {
float: left;
width: 35px;
text-align: center;
text-transform: uppercase;
padding: 10px 5px;
margin: 0 0 15px 0;
background-color: #444;
color: #fff;
font-size: 80%;
}

p.date span.day {
font-size: 160%;
}

p.date span.year {
font-size: 80%;
color: #999;
}

p.categories {
color: #999;
font-size: 65%;
}

p.categories:after {
content: ".";
}

p.categories:before {
content: "Filed under ";
}

ul#navigation {
background-color: #222;
list-style: none inside;
padding: 10px;
margin: 0 0 0 151px;
color: #555;
text-transform: uppercase;
border-top: solid 1px #333;
opacity: 0.9;
}

ul#navigation li {
display: inline;
}

ul#navigation li a {
}

ul#navigation li[selected] a {
font-weight: bold;
color: #0099ff;
}

ul#navigation li:before {
content: "/ ";
}
 
ul#navigation li:first-child:before {
content:"";
}

ul.errors {
background-color: #444;
}

ul.errors li {
font-size: 90%;
}