- unless @people.length < 1
  %h2 Peeps
  %ul#people
    - for @person in @people
      %li
        = link_to(@person.login, url(:profile, @person))

- else
  %h2 Aw, I'm sorry!
  %p There's no one here.