!!! Strict
%html{html_attrs}
  %head
    %title waferbaby
    = css_include_tag :screen, :media => :screen
  
  %body
    #airlock
      #header
        %h1
          %a{:href => url(:posts), :title => "View the latest drivel."} waferbaby
        %ul#navigation
          %li
            %a{:href => url(:people), :title => "People!"} People
          - unless logged_in?
            %li
              %a{:href => url(:login), :title => "Sign into your account."} Log in
            %li
              %a{:href => url(:signup), :title => "Carve your name into the community."} Sign up
          - else
            %li
              %a{:href => url(:signout), :title => "Off you go, then."} Log out
      #content= catch_content :for_layout
      %p#footer This is waferbaby.