- unless @scrawls.length < 1
  - throw_content :atom_feed, "/wallscrawl"
  %h2= "Scrawls (" + link_to("Add", url(:new_wallscrawl)) + ")"
  - @scrawls.each do |@scrawl|
    = partial :scrawl
- else
  %h2 Aw, I'm sorry!
  %p There are no scrawls here.