<% unless @posts.nil? or @posts.length < 1 %>
<h2>Ramblings</h2>
<% for @post in @posts %>
<%= partial @post.type.to_s.snake_case %>
<% end %>
<% else %>
<h2>Aw, I'm sorry!</h2>
<p>There are no posts here. Just us midgets.</p>
<% end %>