%h2 Recently
#note= part(NotePart => :show_latest)
- unless @posts.length < 1
  - throw_content :atom_feed, "/posts"
  %h2 Ramblings
  - @posts.each do |@post|
    = partial :post
- else
  %h2 Aw, I'm sorry!
  %p There are no posts here.