<h3>Four oh four.</h3>
<p><q>There's nothing <em>here</em>!,</q> shouted the website.</p>
<p><q>Please stop yelling,</q> begged the reader, quietly. <q>How was I to know? All I did was follow a link. Really, there's no need to--</q></p>
<p><q>LOOK, I TOLD YOU! I WAS PERFECTLY CLEAR! I SAID IT'S NOT HERE! NEVER WAS! MAYBE NEVER WILL BE? DO YOU GET ME? ARE WE ON THE SAME PAGE NOW?</q></p>
<p>But clearly they weren't, because the reader was gone.</p>